<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="input-group mb-3">
            <input
                type="text"
                class="form-control" 
                placeholder="Search a username" 
                aria-label="Search a username"
                [(ngModel)]="username"
                name="username"
            >
            <button (click)="getGitUser()" class="btn btn-success" type="button">Search</button>
        </div>
    </div>
</div>

<div *ngIf="notFound" class="row justify-content-center mb-3">
    User not found
</div>

<div *ngIf="emptySearchErr" class="row justify-content-center mb-3">
    Please enter a username
</div>

<div *ngIf="user" class="container text-center">
    <div class="card mx-auto" style="max-width: 18rem;">
        <img [src]="user.avatar_url" alt="" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">{{ user.name }}</h5>
            <p class="card-text">{{ '@' + user.login }}</p>
            <div class="d-flex justify-content-around">
                <div>
                    <p class="m-0"><b>Seguidores</b></p>
                    <p>{{ user.followers }}</p>
                </div>
                <div>
                    <p class="m-0"><b>Seguindo</b></p>
                    <p>{{ user.following }}</p>
                </div>
            </div>
            <a class="btn btn-primary mt-3" [href]="user.html_url">Visitar perfil</a>
        </div>
    </div>
</div>
